[submodule "csharp-mode"]
	path = csharp-mode
	url = https://github.com/jontsai/csharp-mode.git
[submodule "php-mode"]
	path = php-mode
	url = https://github.com/jontsai/php-mode.git
[submodule "editorconfig-emacs"]
	path = editorconfig
	url = https://github.com/jontsai/editorconfig-emacs.git
[submodule "yaml-mode"]
	path = yaml-mode
	url = https://github.com/jontsai/yaml-mode.git
[submodule "scala-mode"]
	path = scala-mode
	url = https://github.com/jontsai/emacs-scala-mode.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = https://github.com/jontsai/coffee-mode.git
[submodule "apex-mode"]
	path = apex-mode
	url = https://github.com/jontsai/apex-mode.git
[submodule "lua-mode"]
	path = lua-mode
	url = https://github.com/jontsai/lua-mode.git
[submodule "py-isort"]
	path = py-isort
	url = https://github.com/jontsai/py-isort.el.git
[submodule "puppet-mode"]
	path = puppet-mode
	url = https://github.com/jontsai/puppet-mode.git
[submodule "prettier-js"]
	path = prettier-js
	url = https://github.com/jontsai/prettier-emacs
[submodule "blacken"]
	path = blacken
	url = https://github.com/jontsai/blacken.git
[submodule "helm"]
	path = helm
	url = https://github.com/jontsai/helm
[submodule "async"]
	path = async
	url = https://github.com/jontsai/emacs-async
[submodule "popup"]
	path = popup
	url = https://github.com/jontsai/popup-el
[submodule "typescript-mode"]
	path = typescript-mode
	url = https://github.com/jontsai/typescript.el
[submodule "copilot"]
	path = copilot
	url = https://github.com/jontsai/copilot.el
